@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 650px) {
  .h-screen {
    height: auto;
  }
  .overflow-hidden {
    overflow-y: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
